In [89]:
import numpy as np
import pandas as pd

training  = pd.read_csv('training.csv', sep=';')
training

,Age,SystolicBP,DiastolicBP,BS,BodyTemp,HeartRate,RiskLevel,Unnamed: 7
0,25,130,80.0,15.0,98,86,high risk,NaN
1,35,140,90.0,13.0,98,70,high risk,NaN
2,29,90,70.0,8.0,100,80,high risk,NaN
3,30,140,85.0,7.0,98,70,high risk,NaN
4,35,120,60.0,61.0,98,76,low risk,NaN
...,...,...,...,...,...,...,...,...
1009,22,120,60.0,15.0,98,80,high risk,NaN
1010,55,120,90.0,18.0,98,60,high risk,NaN
1011,35,85,60.0,19.0,98,86,high risk,NaN
1012,43,120,90.0,18.0,98,70,high risk,NaN
1013,159,120,65.0,6.0,101,76,mid risk,NaN

Notiamo la presenza di una colonna aggiuntiva Unnamed:7

Controlliamo che tutte le colonne abbiano la stessa lunghezza

In [90]:
column= ['Age', 'SystolicBP', 'DiastolicBP', 'BS', 'BodyTemp', 'HeartRate','RiskLevel']
for columns in column:
    print(len(training[column]))

1014
1014
1014
1014
1014
1014
1014

Numero di valori NaN presenti nella colonna 'Unnamed: 7'

In [91]:
training["Unnamed: 7"].isnull().values.sum()

1013

In [92]:
non_null_rows = training["Unnamed: 7"].dropna(how='all')
non_null_rows

1006    high risk
Name: Unnamed: 7, dtype: object

In [93]:
training.iloc[1006]

Age                   17
SystolicBP            85
DiastolicBP         60.0
BS                  63.0
BodyTemp             102
HeartRate             86
RiskLevel              1
Unnamed: 7     high risk
Name: 1006, dtype: object

Notiamo che il valore RiskLevel non è nella posizione corretta a causa di un errore di formattazione

In [94]:
training.at[1006, 'RiskLevel'] = training.loc[1006, 'Unnamed: 7']
training.iloc[1006]

Age                   17
SystolicBP            85
DiastolicBP         60.0
BS                  63.0
BodyTemp             102
HeartRate             86
RiskLevel      high risk
Unnamed: 7     high risk
Name: 1006, dtype: object

Pertanto possiamo eliminare la colonna Unnamed:7

In [95]:
training.drop(columns=['Unnamed: 7'], inplace=True)
training

      Age  SystolicBP  DiastolicBP    BS  BodyTemp  HeartRate  RiskLevel
0      25         130         80.0  15.0        98         86  high risk
1      35         140         90.0  13.0        98         70  high risk
2      29          90         70.0   8.0       100         80  high risk
3      30         140         85.0   7.0        98         70  high risk
4      35         120         60.0  61.0        98         76   low risk
...   ...         ...          ...   ...       ...        ...        ...
1009   22         120         60.0  15.0        98         80  high risk
1010   55         120         90.0  18.0        98         60  high risk
1011   35          85         60.0  19.0        98         86  high risk
1012   43         120         90.0  18.0        98         70  high risk
1013  159         120         65.0   6.0       101         76   mid risk

[1014 rows x 7 columns]

Vediamo i valori nulli nel dataset

In [96]:
training.isnull().values.sum()

2

Controlliamo quali sono le righe con valore nullo

In [97]:
training[training.isnull().any(axis=1)]

    Age  SystolicBP  DiastolicBP    BS  BodyTemp  HeartRate RiskLevel
387  31         120         60.0   NaN        98         76  low risk
877  27         120          NaN  68.0        98         77  low risk

Ci assicuriamo che non siano presenti delle stringhe oltre che valori numerici sulla colonna 'age', quindi trasformiamo i valori non numerici in NaN

In [98]:
training['Age'] = pd.to_numeric(training['Age'], errors='coerce')
training

        Age  SystolicBP  DiastolicBP    BS  BodyTemp  HeartRate  RiskLevel
0      25.0         130         80.0  15.0        98         86  high risk
1      35.0         140         90.0  13.0        98         70  high risk
2      29.0          90         70.0   8.0       100         80  high risk
3      30.0         140         85.0   7.0        98         70  high risk
4      35.0         120         60.0  61.0        98         76   low risk
...     ...         ...          ...   ...       ...        ...        ...
1009   22.0         120         60.0  15.0        98         80  high risk
1010   55.0         120         90.0  18.0        98         60  high risk
1011   35.0          85         60.0  19.0        98         86  high risk
1012   43.0         120         90.0  18.0        98         70  high risk
1013  159.0         120         65.0   6.0       101         76   mid risk

[1014 rows x 7 columns]

controlliamo quali righe del dataset nella colonna 'Age' hanno valori NaN

In [99]:
training[training.isnull().any(axis=1)]

      Age  SystolicBP  DiastolicBP    BS  BodyTemp  HeartRate RiskLevel
387  31.0         120         60.0   NaN        98         76  low risk
820   NaN         115         60.0  75.0       101         86  mid risk
877  27.0         120          NaN  68.0        98         77  low risk

Eliminiamo la riga 820 (controllando nel dataset si vede che ha valore "?" )

In [100]:
training=training.drop(index=820)

In [101]:
training[(training['Age'] > 100 ) | (training['Age'] < 0)]

         Age  SystolicBP  DiastolicBP    BS  BodyTemp  HeartRate RiskLevel
50     250.0         120         80.0   7.0        98         66  low risk
247  -1009.0         100         85.0  69.0        98         70  low risk
1013   159.0         120         65.0   6.0       101         76  mid risk

Eliminiamo le righe inconsistenti

In [102]:
training=training.drop(index=[50,247,1013])
training

       Age  SystolicBP  DiastolicBP    BS  BodyTemp  HeartRate  RiskLevel
0     25.0         130         80.0  15.0        98         86  high risk
1     35.0         140         90.0  13.0        98         70  high risk
2     29.0          90         70.0   8.0       100         80  high risk
3     30.0         140         85.0   7.0        98         70  high risk
4     35.0         120         60.0  61.0        98         76   low risk
...    ...         ...          ...   ...       ...        ...        ...
1008  48.0         120         80.0  11.0        98         88  high risk
1009  22.0         120         60.0  15.0        98         80  high risk
1010  55.0         120         90.0  18.0        98         60  high risk
1011  35.0          85         60.0  19.0        98         86  high risk
1012  43.0         120         90.0  18.0        98         70  high risk

[1010 rows x 7 columns]

In [103]:
training = training.reset_index(drop=True)
training

       Age  SystolicBP  DiastolicBP    BS  BodyTemp  HeartRate  RiskLevel
0     25.0         130         80.0  15.0        98         86  high risk
1     35.0         140         90.0  13.0        98         70  high risk
2     29.0          90         70.0   8.0       100         80  high risk
3     30.0         140         85.0   7.0        98         70  high risk
4     35.0         120         60.0  61.0        98         76   low risk
...    ...         ...          ...   ...       ...        ...        ...
1005  48.0         120         80.0  11.0        98         88  high risk
1006  22.0         120         60.0  15.0        98         80  high risk
1007  55.0         120         90.0  18.0        98         60  high risk
1008  35.0          85         60.0  19.0        98         86  high risk
1009  43.0         120         90.0  18.0        98         70  high risk

[1010 rows x 7 columns]

Facciamo la stessa verifica con le altre colonne

In [104]:
colonne_non_numeriche=['SystolicBP', 'DiastolicBP', 'BS','BodyTemp', 'HeartRate']
training[colonne_non_numeriche] = training[colonne_non_numeriche].apply(pd.to_numeric, errors='coerce')
training

       Age  SystolicBP  DiastolicBP    BS  BodyTemp  HeartRate  RiskLevel
0     25.0         130         80.0  15.0        98         86  high risk
1     35.0         140         90.0  13.0        98         70  high risk
2     29.0          90         70.0   8.0       100         80  high risk
3     30.0         140         85.0   7.0        98         70  high risk
4     35.0         120         60.0  61.0        98         76   low risk
...    ...         ...          ...   ...       ...        ...        ...
1005  48.0         120         80.0  11.0        98         88  high risk
1006  22.0         120         60.0  15.0        98         80  high risk
1007  55.0         120         90.0  18.0        98         60  high risk
1008  35.0          85         60.0  19.0        98         86  high risk
1009  43.0         120         90.0  18.0        98         70  high risk

[1010 rows x 7 columns]

In [ ]:
training[training.isnull().any(axis=1)]

      Age  SystolicBP  DiastolicBP    BS  BodyTemp  HeartRate RiskLevel
385  31.0         120         60.0   NaN        98         76  low risk
874  27.0         120          NaN  68.0        98         77  low risk

Possiamo sostituire i valori NaN per BS e DiastolicBP con la relativa media

In [ ]:
training['SystolicBP'].mean()

113.1960396039604