In [1]:
import numpy as np
import pandas as pd

training  = pd.read_csv('training.csv', sep=';')
training

,Age,SystolicBP,DiastolicBP,BS,BodyTemp,HeartRate,RiskLevel,Unnamed: 7
0,25,130,80.0,15.0,98,86,high risk,NaN
1,35,140,90.0,13.0,98,70,high risk,NaN
2,29,90,70.0,8.0,100,80,high risk,NaN
3,30,140,85.0,7.0,98,70,high risk,NaN
4,35,120,60.0,61.0,98,76,low risk,NaN
...,...,...,...,...,...,...,...,...
1009,22,120,60.0,15.0,98,80,high risk,NaN
1010,55,120,90.0,18.0,98,60,high risk,NaN
1011,35,85,60.0,19.0,98,86,high risk,NaN
1012,43,120,90.0,18.0,98,70,high risk,NaN
1013,159,120,65.0,6.0,101,76,mid risk,NaN