In [350]:
import numpy as np
import pandas as pd

training  = pd.read_csv('training.csv', sep=';')
training

,Age,SystolicBP,DiastolicBP,BS,BodyTemp,HeartRate,RiskLevel,Unnamed: 7
0,25,130,80.0,15.0,98,86,high risk,NaN
1,35,140,90.0,13.0,98,70,high risk,NaN
2,29,90,70.0,8.0,100,80,high risk,NaN
3,30,140,85.0,7.0,98,70,high risk,NaN
4,35,120,60.0,61.0,98,76,low risk,NaN
...,...,...,...,...,...,...,...,...
1009,22,120,60.0,15.0,98,80,high risk,NaN
1010,55,120,90.0,18.0,98,60,high risk,NaN
1011,35,85,60.0,19.0,98,86,high risk,NaN
1012,43,120,90.0,18.0,98,70,high risk,NaN
1013,159,120,65.0,6.0,101,76,mid risk,NaN

Notiamo la presenza di una colonna aggiuntiva Unnamed:7

Controlliamo che tutte le colonne abbiano la stessa lunghezza

In [351]:
column= ['Age', 'SystolicBP', 'DiastolicBP', 'BS', 'BodyTemp', 'HeartRate','RiskLevel']
for columns in column:
    print(len(training[column]))

1014
1014
1014
1014
1014
1014
1014

Numero di valori NaN presenti nella colonna 'Unnamed: 7'

In [352]:
training["Unnamed: 7"].isnull().values.sum()

1013

In [353]:
non_null_rows = training["Unnamed: 7"].dropna(how='all')
non_null_rows

1006    high risk
Name: Unnamed: 7, dtype: object

In [354]:
training.iloc[1006]

Age                   17
SystolicBP            85
DiastolicBP         60.0
BS                  63.0
BodyTemp             102
HeartRate             86
RiskLevel              1
Unnamed: 7     high risk
Name: 1006, dtype: object

Notiamo che il valore RiskLevel non è nella posizione corretta a causa di un errore di formattazione

In [355]:
training.at[1006, 'RiskLevel'] = training.loc[1006, 'Unnamed: 7']
training.iloc[1006]

Age                   17
SystolicBP            85
DiastolicBP         60.0
BS                  63.0
BodyTemp             102
HeartRate             86
RiskLevel      high risk
Unnamed: 7     high risk
Name: 1006, dtype: object

Pertanto possiamo eliminare la colonna Unnamed:7

In [356]:
training.drop(columns=['Unnamed: 7'], inplace=True)
training

      Age  SystolicBP  DiastolicBP    BS  BodyTemp  HeartRate  RiskLevel
0      25         130         80.0  15.0        98         86  high risk
1      35         140         90.0  13.0        98         70  high risk
2      29          90         70.0   8.0       100         80  high risk
3      30         140         85.0   7.0        98         70  high risk
4      35         120         60.0  61.0        98         76   low risk
...   ...         ...          ...   ...       ...        ...        ...
1009   22         120         60.0  15.0        98         80  high risk
1010   55         120         90.0  18.0        98         60  high risk
1011   35          85         60.0  19.0        98         86  high risk
1012   43         120         90.0  18.0        98         70  high risk
1013  159         120         65.0   6.0       101         76   mid risk

[1014 rows x 7 columns]

Vediamo i valori nulli nel dataset

In [357]:
training.isnull().values.sum()

2

Controlliamo quali sono le righe con valore nullo

In [358]:
training[training.isnull().any(axis=1)]

    Age  SystolicBP  DiastolicBP    BS  BodyTemp  HeartRate RiskLevel
387  31         120         60.0   NaN        98         76  low risk
877  27         120          NaN  68.0        98         77  low risk

Ci assicuriamo che non siano presenti delle stringhe oltre che valori numerici sulla colonna 'age', quindi trasformiamo i valori non numerici in NaN

In [359]:
training['Age'] = pd.to_numeric(training['Age'], errors='coerce')
training

        Age  SystolicBP  DiastolicBP    BS  BodyTemp  HeartRate  RiskLevel
0      25.0         130         80.0  15.0        98         86  high risk
1      35.0         140         90.0  13.0        98         70  high risk
2      29.0          90         70.0   8.0       100         80  high risk
3      30.0         140         85.0   7.0        98         70  high risk
4      35.0         120         60.0  61.0        98         76   low risk
...     ...         ...          ...   ...       ...        ...        ...
1009   22.0         120         60.0  15.0        98         80  high risk
1010   55.0         120         90.0  18.0        98         60  high risk
1011   35.0          85         60.0  19.0        98         86  high risk
1012   43.0         120         90.0  18.0        98         70  high risk
1013  159.0         120         65.0   6.0       101         76   mid risk

[1014 rows x 7 columns]

controlliamo quali righe del dataset nella colonna 'Age' hanno valori NaN

In [360]:
training[training.isnull().any(axis=1)]

      Age  SystolicBP  DiastolicBP    BS  BodyTemp  HeartRate RiskLevel
387  31.0         120         60.0   NaN        98         76  low risk
820   NaN         115         60.0  75.0       101         86  mid risk
877  27.0         120          NaN  68.0        98         77  low risk

Eliminiamo la riga 820 (controllando nel dataset si vede che ha valore "?" )

In [361]:
training=training.drop(index=820)

In [362]:
training[(training['Age'] > 100 ) | (training['Age'] < 0)]

         Age  SystolicBP  DiastolicBP    BS  BodyTemp  HeartRate RiskLevel
50     250.0         120         80.0   7.0        98         66  low risk
247  -1009.0         100         85.0  69.0        98         70  low risk
1013   159.0         120         65.0   6.0       101         76  mid risk

Eliminiamo le righe inconsistenti

In [363]:
training=training.drop(index=[50,247,1013])
training

       Age  SystolicBP  DiastolicBP    BS  BodyTemp  HeartRate  RiskLevel
0     25.0         130         80.0  15.0        98         86  high risk
1     35.0         140         90.0  13.0        98         70  high risk
2     29.0          90         70.0   8.0       100         80  high risk
3     30.0         140         85.0   7.0        98         70  high risk
4     35.0         120         60.0  61.0        98         76   low risk
...    ...         ...          ...   ...       ...        ...        ...
1008  48.0         120         80.0  11.0        98         88  high risk
1009  22.0         120         60.0  15.0        98         80  high risk
1010  55.0         120         90.0  18.0        98         60  high risk
1011  35.0          85         60.0  19.0        98         86  high risk
1012  43.0         120         90.0  18.0        98         70  high risk

[1010 rows x 7 columns]

In [364]:
training = training.reset_index(drop=True)
training

       Age  SystolicBP  DiastolicBP    BS  BodyTemp  HeartRate  RiskLevel
0     25.0         130         80.0  15.0        98         86  high risk
1     35.0         140         90.0  13.0        98         70  high risk
2     29.0          90         70.0   8.0       100         80  high risk
3     30.0         140         85.0   7.0        98         70  high risk
4     35.0         120         60.0  61.0        98         76   low risk
...    ...         ...          ...   ...       ...        ...        ...
1005  48.0         120         80.0  11.0        98         88  high risk
1006  22.0         120         60.0  15.0        98         80  high risk
1007  55.0         120         90.0  18.0        98         60  high risk
1008  35.0          85         60.0  19.0        98         86  high risk
1009  43.0         120         90.0  18.0        98         70  high risk

[1010 rows x 7 columns]

Facciamo la stessa verifica con le altre colonne

In [365]:
colonne_non_numeriche=['SystolicBP', 'DiastolicBP', 'BS','BodyTemp', 'HeartRate']
training[colonne_non_numeriche] = training[colonne_non_numeriche].apply(pd.to_numeric, errors='coerce')
training

       Age  SystolicBP  DiastolicBP    BS  BodyTemp  HeartRate  RiskLevel
0     25.0         130         80.0  15.0        98         86  high risk
1     35.0         140         90.0  13.0        98         70  high risk
2     29.0          90         70.0   8.0       100         80  high risk
3     30.0         140         85.0   7.0        98         70  high risk
4     35.0         120         60.0  61.0        98         76   low risk
...    ...         ...          ...   ...       ...        ...        ...
1005  48.0         120         80.0  11.0        98         88  high risk
1006  22.0         120         60.0  15.0        98         80  high risk
1007  55.0         120         90.0  18.0        98         60  high risk
1008  35.0          85         60.0  19.0        98         86  high risk
1009  43.0         120         90.0  18.0        98         70  high risk

[1010 rows x 7 columns]

In [366]:
training[training.isnull().any(axis=1)]

      Age  SystolicBP  DiastolicBP    BS  BodyTemp  HeartRate RiskLevel
385  31.0         120         60.0   NaN        98         76  low risk
874  27.0         120          NaN  68.0        98         77  low risk

Possiamo sostituire i valori NaN per BS e DiastolicBP con la relativa media. Inoltre controlliamo che in ogni colonna non ci siano righe con valori che si discostano troppo dalla relativa media .

In [367]:
training['SystolicBP'].mean()

113.1960396039604

In [368]:
training['DiastolicBP'].mean()

76.48265609514371

In [369]:
training['BS'].mean()

59.5173439048563

In [370]:
training['BodyTemp'].mean()

101.59306930693069

In [371]:
training['HeartRate'].mean()

77.1960396039604

In [372]:
training[(training['SystolicBP'] > 160 ) | (training['SystolicBP'] < 70)]

Empty DataFrame
Columns: [Age, SystolicBP, DiastolicBP, BS, BodyTemp, HeartRate, RiskLevel]
Index: []

In [373]:
training[(training['DiastolicBP'] > 100) | (training['DiastolicBP'] < 40)]

Empty DataFrame
Columns: [Age, SystolicBP, DiastolicBP, BS, BodyTemp, HeartRate, RiskLevel]
Index: []

In [374]:
training[(training['BS'] > 100) | (training['BS'] <5 )]

      Age  SystolicBP  DiastolicBP     BS  BodyTemp  HeartRate  RiskLevel
5    23.0         140         80.0  701.0        98         70  high risk
6    23.0         130         70.0  701.0        98         78   mid risk
10   23.0          90         60.0  701.0        98         76   low risk
12   25.0         110         89.0  701.0        98         77   low risk
13   20.0         120         75.0  701.0       100         70   mid risk
15   15.0         120         80.0  701.0        98         70   low risk
17   25.0         140        100.0  701.0        98         80  high risk
676  23.0         140         80.0  701.0        98         70  high risk
680  25.0         140        100.0  701.0        98         80  high risk
704  23.0         130         70.0  701.0        98         78   mid risk
707  20.0         120         75.0  701.0       100         70   mid risk
728  20.0         120         75.0  701.0       100         70   mid risk
849  23.0         130         70.0  701.0        98         78   mid risk
852  20.0         120         75.0  701.0       100         70   mid risk
951  25.0         140        100.0  701.0        98         80  high risk

Per la colonna BS si hanno alcuni valori inconsistenti. Cambiamo questi valori con NaN e sostituiamoli successivamente con la media

In [375]:
training['BS'] = training['BS'].apply(lambda x: np.nan if x >200 else x)

Nella colonna BS ora abbiamo valori NaN nei vecchi valori incosistenti

In [376]:
training[training.isnull().any(axis=1)]

      Age  SystolicBP  DiastolicBP    BS  BodyTemp  HeartRate  RiskLevel
5    23.0         140         80.0   NaN        98         70  high risk
6    23.0         130         70.0   NaN        98         78   mid risk
10   23.0          90         60.0   NaN        98         76   low risk
12   25.0         110         89.0   NaN        98         77   low risk
13   20.0         120         75.0   NaN       100         70   mid risk
15   15.0         120         80.0   NaN        98         70   low risk
17   25.0         140        100.0   NaN        98         80  high risk
385  31.0         120         60.0   NaN        98         76   low risk
676  23.0         140         80.0   NaN        98         70  high risk
680  25.0         140        100.0   NaN        98         80  high risk
704  23.0         130         70.0   NaN        98         78   mid risk
707  20.0         120         75.0   NaN       100         70   mid risk
728  20.0         120         75.0   NaN       100         70   mid risk
849  23.0         130         70.0   NaN        98         78   mid risk
852  20.0         120         75.0   NaN       100         70   mid risk
874  27.0         120          NaN  68.0        98         77   low risk
951  25.0         140        100.0   NaN        98         80  high risk

Calcoliamo la media attuale, cioè con i valori incosistenti esclusi. Sostituiamo i valori NaN con la media

In [377]:
training['BS'].mean()

49.83702213279678

In [378]:
training['BS'] = training['BS'].fillna(50.0)

Controlliamo che la modifica sia avvenuta con successo

In [379]:
training.iloc[951]

Age                 25.0
SystolicBP           140
DiastolicBP        100.0
BS                  50.0
BodyTemp              98
HeartRate             80
RiskLevel      high risk
Name: 951, dtype: object

In [380]:
training[(training['BodyTemp'] > 105) | (training['BodyTemp'] < 50)]

      Age  SystolicBP  DiastolicBP    BS  BodyTemp  HeartRate  RiskLevel
130  32.0         140         90.0  18.0       400         88  high risk
637  19.0         120         60.0   7.0       984         70   low risk
642  25.0         140        100.0  15.0       986         70  high risk
691  19.0         120         60.0   7.0       984         70   low risk

In [381]:
training.loc[[130,637], 'BodyTemp'] = 101
training.loc[[642,691], 'BodyTemp'] = 102
training.iloc[[130,637,642,691]]

      Age  SystolicBP  DiastolicBP    BS  BodyTemp  HeartRate  RiskLevel
130  32.0         140         90.0  18.0       101         88  high risk
637  19.0         120         60.0   7.0       101         70   low risk
642  25.0         140        100.0  15.0       102         70  high risk
691  19.0         120         60.0   7.0       102         70   low risk

In [382]:
training[(training['HeartRate'] > 120) | (training['HeartRate'] < 60)]

      Age  SystolicBP  DiastolicBP    BS  BodyTemp  HeartRate RiskLevel
68   32.0         120         65.0   6.0       101       3000  mid risk
497  16.0         120         75.0  79.0        98          7  low risk
905  16.0         120         75.0  79.0        98          7  low risk

In [383]:
training['HeartRate'] = training['HeartRate'].apply(lambda x: np.nan if x >120 or x < 60 else x)

Verifichiamo che i valori siano stati sotituiti con NaN

In [384]:
training[training.isnull().any(axis=1)]

      Age  SystolicBP  DiastolicBP    BS  BodyTemp  HeartRate RiskLevel
68   32.0         120         65.0   6.0       101        NaN  mid risk
497  16.0         120         75.0  79.0        98        NaN  low risk
874  27.0         120          NaN  68.0        98       77.0  low risk
905  16.0         120         75.0  79.0        98        NaN  low risk

Calcoliamo la nuova media

In [385]:
training['HeartRate'].mean()

74.43296921549155

Inseriamo il valore della media

In [386]:
training.loc[[68,497,905], 'HeartRate'] = 74.0
training.iloc[[68,497,905]]

      Age  SystolicBP  DiastolicBP    BS  BodyTemp  HeartRate RiskLevel
68   32.0         120         65.0   6.0       101       74.0  mid risk
497  16.0         120         75.0  79.0        98       74.0  low risk
905  16.0         120         75.0  79.0        98       74.0  low risk

In [387]:
valori_risklevel=['high risk', 'mid risk', 'low risk']
training[~training['RiskLevel'].isin(valori_risklevel)]

      Age  SystolicBP  DiastolicBP    BS  BodyTemp  HeartRate RiskLevel
653  48.0         120         80.0  11.0        98       88.0         ?

Eliminiamo quindi la riga 653

In [388]:
training=training.drop(index=653)
training

       Age  SystolicBP  DiastolicBP    BS  BodyTemp  HeartRate  RiskLevel
0     25.0         130         80.0  15.0        98       86.0  high risk
1     35.0         140         90.0  13.0        98       70.0  high risk
2     29.0          90         70.0   8.0       100       80.0  high risk
3     30.0         140         85.0   7.0        98       70.0  high risk
4     35.0         120         60.0  61.0        98       76.0   low risk
...    ...         ...          ...   ...       ...        ...        ...
1005  48.0         120         80.0  11.0        98       88.0  high risk
1006  22.0         120         60.0  15.0        98       80.0  high risk
1007  55.0         120         90.0  18.0        98       60.0  high risk
1008  35.0          85         60.0  19.0        98       86.0  high risk
1009  43.0         120         90.0  18.0        98       70.0  high risk

[1009 rows x 7 columns]

Reset indice

In [389]:
training = training.reset_index(drop=True)
training

       Age  SystolicBP  DiastolicBP    BS  BodyTemp  HeartRate  RiskLevel
0     25.0         130         80.0  15.0        98       86.0  high risk
1     35.0         140         90.0  13.0        98       70.0  high risk
2     29.0          90         70.0   8.0       100       80.0  high risk
3     30.0         140         85.0   7.0        98       70.0  high risk
4     35.0         120         60.0  61.0        98       76.0   low risk
...    ...         ...          ...   ...       ...        ...        ...
1004  48.0         120         80.0  11.0        98       88.0  high risk
1005  22.0         120         60.0  15.0        98       80.0  high risk
1006  55.0         120         90.0  18.0        98       60.0  high risk
1007  35.0          85         60.0  19.0        98       86.0  high risk
1008  43.0         120         90.0  18.0        98       70.0  high risk

[1009 rows x 7 columns]